
<div class="card">
<div class="card-body">
<h2 class="h4">News</h2>

<div class="news-timeline">
{% for article in site.data.news limit:9 %}
<div class="news-item">
  <span class="news-date">{{ article.date }}</span>
  {{ article.headline | markdownify }}
  {% if article.description %}<p class="news-desc">{{ article.description }}</p>{% endif %}
</div>
{% endfor %}
</div>

<p class="h6 mt-3"><a href="{{ site.url }}{{ site.baseurl }}/allnews.html" aria-label="See all lab news">... see all News</a></p>
</div>
</div>
